:host {
  position: sticky;
  top: 0;
}

.menu-container {
  display: flex;
  align-items: center;
  background-color: #003B46;
  height: 80px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0 20px;

  .logo {
    width: 50px;
    height: 50px;
    margin-right: 16px;
  }

  .menu {
    display: flex;
    align-items: center;

    .menu-item {
      font-family: "Titan One", sans-serif;
      text-decoration: none;
      color: #fff;
      margin-right: 16px;
      font-size: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: #ccc;
      }

      &.active {
        color: #FFA500;
        font-weight: bold;
      }
    }

    .menu-item:last-child {
      margin-right: 0;
    }
  }
}
